* {
	all: unset; //Unsets everything so you can style everything from scratch
}

$bkgrnd: rgba(20, 20, 20, 0.9);
$light_bkgrnd: rgba(60, 60, 60, 0.8);

@import "./modules/center-clock.scss"
@import "./modules/volume-osd.scss"
@import "./dashboard/dashboard.scss"

//Global Styles
.bar-main {
	background-color: $bkgrnd;
    color: #FFFFFF;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.bar-section {
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 15;
}

.sep {
	color: rgba(200, 200, 200, 0.5);
}

.alert {
	color: #aa5555;
	padding: 5px;
}

.regular {
	color: #b0b4bc;
	padding: 8px;
}

.active-workspace {
	background-color: rgba(150, 150, 150, 0.4);
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.side-stuff {
	background-color: $bkgrnd;
    color: #FFFFFF;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
    font-size: 1.2rem;
}


